:root {
    --primary-bg-color: #333399;
    --secondary-bg-color: #ff00cc;

    --primary-bg-color: #6002EE ;
    --secondary-bg-color: #BA00E5;
  }

img {
    width: 804px;
    margin: auto;
    display: block;
    margin-top: 2rem;
}

a:hover {
    color: var(--secondary-bg-color);
}

h4.card-title {
    color: var(--primary-bg-color);
}

.jumbotron {
    
    background-image: linear-gradient(to right top, #1C00DB, #5C00D2, #8B00DD, #A200E0, #BA00E5, #CD00EA);
    color: white;
}

a.badge {
    background: linear-gradient(to right, var(--primary-bg-color), var(--secondary-bg-color));
}

.display-4 {
    font-weight: 900;
}